<h2>This is the new partial</h2>
<a href="/#/">Home</a><br />

<label for='first_name'>First Name</label>
<input type = "text" name="first_name" ng-model = "user.first_name"><br />

<label for='last_name'>Last Name</label>
<input type = "text" name="last_name" ng-model = "user.last_name"><br />

<label for='email'>User Email</label>
<input type = "text" name="email" ng-model = "user.email"><br />

<button ng-click = "createUser()">Create User</button>

<ul>
  <li ng-repeat="error in errors">
    {{error}}
  </li>
</ul>

{{errors}}
